body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #CBCBD4; /* Light gray background */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #8AA8A1; /* Light teal background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: #885A89; /* Purple text color */
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 2px solid #D1B490; /* Light brown border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #EE7B30; /* Orange background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D1B490; /* Light brown background on hover */
}